<html>
  <head>
    <title>Journey Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="./book.css"> -->

  </head>
  <body>
    <div class="container">
      <div class="row">
          
          <div class="col">
              <br/>

              <span>
                <label for="userid">User Id</label>
                <input type="text" id="userid" >
              </span>

              <button onClick="getBookedTrips(this.id)" id="gettrips" class="btn btn-outline-primary">Get Trips</button>

              <div class="form-group">
                <label for="selectCountry">Selec Country</label>
                <select class="form-control" id="selectCountry" onchange="getCities(this.id)">
                  <option>Ireland</option>
                  <option>UK</option>
                  <option>US</option>
                  <option>Germany</option>
                  <option>India</option>
                </select>
              </div>

              <div class="form-group">
                <label for="selectCity">Select City</label>
                <select class="form-control" id="selectCity" onchange="getRoutes(this.id)">
                  <option>Dublin</option>
                  <option>Carlow</option>
                  <option>Wexford</option>
                  <option>Galway</option>
                  <option>Cork</option>
                </select>
              </div>


              <div class="form-group">
                <label for="selectRoute">Route Number</label>
                <select class="form-control" id="selectRoute">
                    <option value="Dublin1">Route:1</option>
                    <option value="Dublin2">Route:2</option>
                    <option value="Dublin3">Route:3</option>
                    <option value="Dublin4">Route:4</option>
                    <option value="Dublin5">Route:5</option>
                </select>
              </div>

              <button onClick="bookTrip(this.id)" id="bookTrip" class="btn btn-outline-primary">Book Trip</button>
        </div>

        <div class="col">
            <br/>

            <select class="selectpicker" id="multiselect" multiple ></select>
                <!-- <div class="form-group">
                  <label for="bookedTrip">Booked Trip</label>
                  <input type="text" id="bookedTrip" placeholder="Route 1 Wexford 21-04-2021 to 21-04-2021">
                </div> -->
                <br/>
                <br/>
              <button id="cancelTrip" onClick="cancelTrip(this.id)" class="btn btn-outline-primary">Cancel Trip</button>
        </div>

      </div>
      <div class="row">
        <p id="error"></p>
      </div>
    </div>


    <script>

        function getCities(){

            var selectedCountryIndex = document.getElementById("selectCountry");
            var selectedCountry = selectedCountryIndex.options[selectedCountryIndex.selectedIndex].text;
            var selectElement = document.getElementById('selectCity');
            selectElement.innerHTML = '';

            let citySelect = document.getElementById('selectCity');

            if(selectedCountry=="Ireland"){
              ['Dublin','Cork', 'Galway', 'Limerick', 'Carlow'].forEach((key)=>{
                        citySelect.options[citySelect.options.length] = new Option( key, key )
                      })
            }

            else if(selectedCountry=="UK"){
              ['London','Manchester', 'Edinburgh', 'Cardiff', 'Belfast'].forEach((key)=>{
                        citySelect.options[citySelect.options.length] = new Option( key, key )
                      })
            }

            else if(selectedCountry=="US"){
              ['NY','Seattle', 'Houston', 'LA', 'Miami'].forEach((key)=>{
                        citySelect.options[citySelect.options.length] = new Option( key, key )
                      })
            }

            else if(selectedCountry=="Germany"){
              ['Berlin','Munich', 'Dortmund', 'Darmstad', 'Frankfurt'].forEach((key)=>{
                        citySelect.options[citySelect.options.length] = new Option( key, key )
                      })
            }

            else if(selectedCountry=="India"){
              ['Delhi','Mumbai', 'Kolkata', 'Banglore', 'Goa'].forEach((key)=>{
                        citySelect.options[citySelect.options.length] = new Option( key, key )
                      })
            }

            getRoutes();

          }

        function getRoutes(){
                  var selectedCityIndex = document.getElementById("selectCity");
                  var selectedCity = selectedCityIndex.options[selectedCityIndex.selectedIndex].text;

                  var selectElement = document.getElementById('selectRoute');
                  selectElement.innerHTML = '';

                  console.log(selectedCity);

                  useridinput = document.getElementById('userid')
                  userid = useridinput.value

                  fetch("/getRoutes", {
                    method: "POST", 
                    headers: new Headers({'content-type': 'application/json'}),

                    body: JSON.stringify({
                      user_id: userid,
                      city: selectedCity

                    })
                  }).then(res => {
                    console.log("Request complete! response:", );
                    // console.log(res.json())
                    return res.json()
                  }).then(res=> {
                    // let str = JSON.stringify(res);
                    console.log(res);
                    // res = res['return_data']
                    
                    routeSelect = document.getElementById('selectRoute');
                    console.log(selectedCity)
                    Object.keys(Array.from(Array(5).keys())).forEach((key)=>{
                      let routeKey  = parseInt(key) +1
                      routeSelect.options[routeSelect.options.length] = new Option( "Route:"+(routeKey), selectedCity+(routeKey) )
                  })
                })

              }

      function getBookedTrips(a){

          let  bookedRoutes = document.getElementById('multiselect');
          bookedRoutes.innerHTML = "";
          let error1 = document.getElementById('error')
          error1.innerText =""
          useridinput = document.getElementById('userid')
          userid = useridinput.value
          console.log(userid)
          if(userid){
          // console.log(useridinput.value)
          data = {'user_id': userid}
         
          fetch("/getBookedTrips", {
            method: "POST", 
            headers: new Headers({'content-type': 'application/json'}),

            body: JSON.stringify({
              userid: userid
            })
          }).then(res => {
            console.log("Request complete! response:", );
            // console.log(res.json())
            return res.json()
          }).then(res=> {
            // let str = JSON.stringify(res);
            console.log(res);
            if(res['Status']!="Success"){
              let error1 = document.getElementById('error')
              error1.innerText = res['Status']
            }
            else{
              res = res['return_result']
              
              daySelect = document.getElementById('multiselect');
              Object.keys(res).forEach((key)=>{
               let splitTripValues =  res[key].split(',')

              daySelect.options[daySelect.options.length] = new Option( splitTripValues[0] + " " + splitTripValues[1] + " " +splitTripValues[2], key )
            })
          }
        })
        
      }

        else{
          let error = document.getElementById('error')
          error.innerText = "Please Enter your User Id"
        }

      }




      function bookTrip(a){

        let error1 = document.getElementById('error')
        error1.innerText =""
        var selectedCityIndex = document.getElementById("selectCity");
        var selectedCity = selectedCityIndex.options[selectedCityIndex.selectedIndex].text;
        var selectedCountryIndex = document.getElementById("selectCountry");
        var selectedCountry = selectedCountryIndex.options[selectedCountryIndex.selectedIndex].text;
        var selectedRouteIndex = document.getElementById("selectRoute");
        var selectedRoute = selectedRouteIndex.options[selectedRouteIndex.selectedIndex].value;
        let useridinput = document.getElementById('userid')

        console.log(selectedRoute)
        userid = useridinput.value
        console.log(userid)

        console.log(selectedRoute);
        
        if(userid){
        fetch("/bookTrip", {
            method: "POST", 
            headers: new Headers({'content-type': 'application/json'}),

            body: JSON.stringify({
            userid: userid,
            route: selectedRoute,
            city: selectedCity,
            country: selectedCountry
            })
          }).then(res => {

            console.log("Request complete! response:", );
            console.log(res.status); // Will show you the status
            if (!res.ok) {
                console.log("There is in an Error!!")
                throw new Error("HTTP status " + res.status);
            }
            
            return res.json()

          }).then(res=> {

            console.log(res)
            if(res['Status']!="Success"){
              let error1 = document.getElementById('error')
              error1.innerText = res['Status']
            }
            else{
            res = res['return_result']
            daySelect = document.getElementById('multiselect');
            // Object.keys(res).forEach((key)=>{
            daySelect.options[daySelect.options.length] = new Option( res['country']+","+res['city']+","+res['route'], res['trip_id'] )
          // })
          }

          }).catch((error) => {

              console.log(error)
              let error1 = document.getElementById('error')
              error1.innerText = error

            });
        }
        else{

          let error = document.getElementById('error')
          error.innerText = "Please Enter your User Id"

        }
      }


      function cancelTrip(a){

          var bookedTrip = document.getElementById("multiselect").value;
          console.log(bookedTrip);
          let useridinput = document.getElementById('userid')
          userid = useridinput.value
          
          if(userid){
          

          fetch("/cancelTrip", {
            method: "POST", 
            headers: new Headers({'content-type': 'application/json'}),

            body: JSON.stringify({
              trip_id : bookedTrip,
              userid: userid
            })

          }).then(res => {
            console.log("Request complete! response:", );
            // console.log(res.json())
            return res.json()
          }).then(res=> {console.log(res)

              res = res['Status']
              if(res == "Success"){
                console.log("Deleting the booking as the result was a success")
              daySelect = document.getElementById('multiselect');
              for (var i=0; i<daySelect.length; i++) {  
                  if (daySelect.options[i].value == bookedTrip){
                      daySelect.remove(i);}
              }          
              }
            })
          }

          else{
              let error = document.getElementById('error')
              error.innerText = "Please Enter your User Id"
            }
      }

    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>


